{%extends 'base.html'%}

{%block head%}
<title>Weather API Project</title>
{%endblock%}

{%block body%}
<div class = "content">
    <h1>taskmaster</h1>

    <table>
        <tr>
            <th>task</th>
            <th>date created</th>
            <th>action</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>
                <a href="">Update</a>
                <br>
                <a href="">Delete</a>
            </td>
        </tr>
    </table>

    <form action="/" method="post">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
</div>
{%endblock%}