{%extends 'base.html'%}

{%block head%}
<title>Weather API Project</title>
{%endblock%}

{%block body%}
<div class = "content">
    <h1>weather in Cairo</h1>

    <table>
        <tr>
            <th>task</th>
            <th>date created</th>
            <th>action</th>
        </tr>
        {%for task in tasks %}
            <tr>
                <td>{{task.content}}</td>
                <td>{{task.date_created}}</td>
                <td>
                    <a href="">Update</a>
                    <br>
                    <a href="">Delete</a>
                </td>
            </tr>
            {%endfor%}
    </table>

    <form action="/" method="post">
        <input type="submit" value="get temp">
    </form>
</div>
{%endblock%}